<a href="https://colab.research.google.com/github/enjileona/Bootcamp-Data-Science-and-Mechine-Learning/blob/main/Exercise_Data%20Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CASE STUDY

Saya diberi dataset baru dari divisi penjualan yang berisi data pelanggan dan transaksi. Tugas saya adalah menyiapkan dataset ini dari awal hingga akhir, menerapkan semua teknik preprocessing yang telah Anda pelajari, agar siap untuk pemodelan machine learning.

## TASK
1. **Data Cleaning Awal**:
* Periksa data yang hilang dan isi nilai yang hilang di kolom status_rumah dengan mode (nilai paling sering muncul).
2. **Outlier Handling**:
*   Deteksi outlier pada kolom pendapatan_tahunan dan usia menggunakan metode IQR.
*   Tangani outlier yang ditemukan dengan metode capping.
3. **Feature Engineering**:
* Buat fitur baru bernama lama_pelanggan_tahun dari kolom tanggal_daftar.
* Buat fitur interaksi pendapatan_x_usia dari kolom yang sudah di-capping.
4. **Categorical Encoding**:
* Terapkan One-Hot Encoding pada kolom status_rumah.
* Terapkan Ordinal Encoding pada kolom tingkat_kepuasan dengan urutan yang logis.
5. **Data Scaling** :
* Terapkan Normalisasi (Min-Max Scaling) pada fitur pendapatan_tahunan yang sudah di-capping.
* Terapkan Standardisasi (StandardScaler) pada fitur usia yang sudah di-capping.

## DATA

In [ ]:
import pandas as pd
import numpy as np

data_challenge = {
    'id_pelanggan': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
    'pendapatan_tahunan': [50000000, 75000000, 60000000, 150000000, 80000000, 95000000, 200000000, 70000000, 100000000, 45000000, 120000000, 1000000000],
    'usia': [35, 42, 28, 55, 60, 31, 48, 25, 39, 95, 50, 40],
    'jumlah_anak': [2, 1, 0, 3, 2, 1, 4, 0, 2, 1, 3, 5],
    'status_rumah': ['Sewa', 'Milik Sendiri', 'Milik Sendiri', 'Sewa', 'Milik Sendiri', 'Sewa', 'Milik Sendiri', 'Sewa', 'Milik Sendiri', 'Milik Sendiri', 'Sewa', np.nan],
    'tingkat_kepuasan': ['Rendah', 'Sedang', 'Baik', 'Sangat Baik', 'Baik', 'Sedang', 'Sangat Baik', 'Rendah', 'Baik', 'Sangat Baik', 'Sedang', 'Baik'],
    'tanggal_daftar': ['2018-05-10', '2020-03-20', '2023-01-15', '2015-09-01', '2019-11-25', '2021-08-01', '2016-04-12', '2022-10-05', '2017-07-30', '2019-02-18', '2018-12-01', '2021-01-01']
}
df_challenge = pd.DataFrame(data_challenge)
df_challenge['tanggal_daftar'] = pd.to_datetime(df_challenge['tanggal_daftar'])

# 1. Data Cleaning

In [ ]:
# Periksa data yang hilang dan isi nilai yang hilang di kolom status_rumah dengan mode (nilai paling sering muncul).
df_challenge['status_rumah'].fillna(df_challenge['status_rumah'].mode()[0], inplace=True)
df_challenge

,id_pelanggan,pendapatan_tahunan,usia,jumlah_anak,status_rumah,tingkat_kepuasan,tanggal_daftar
0,1,50000000,35,2,Sewa,Rendah,2018-05-10
1,2,75000000,42,1,Milik Sendiri,Sedang,2020-03-20
2,3,60000000,28,0,Milik Sendiri,Baik,2023-01-15
3,4,150000000,55,3,Sewa,Sangat Baik,2015-09-01
4,5,80000000,60,2,Milik Sendiri,Baik,2019-11-25
5,6,95000000,31,1,Sewa,Sedang,2021-08-01
6,7,200000000,48,4,Milik Sendiri,Sangat Baik,2016-04-12
7,8,70000000,25,0,Sewa,Rendah,2022-10-05
8,9,100000000,39,2,Milik Sendiri,Baik,2017-07-30
9,10,45000000,95,1,Milik Sendiri,Sangat Baik,2019-02-18
10,11,120000000,50,3,Sewa,Sedang,2018-12-01
11,12,1000000000,40,5,Milik Sendiri,Baik,2021-01-01

# 2. Outlier Handling

In [ ]:
# Deteksi outlier pada kolom pendapatan_tahunan dan usia menggunakan metode IQR.
# Hitung Q1, Q3, dan IQR

#Deteksi outlier pada kolom pendapatan_tahunan
Q1          = df_challenge ['pendapatan_tahunan'].quantile(0.25)
Q3          = df_challenge ['pendapatan_tahunan'].quantile(0.75)
IQR         = Q3 - Q1
batas_atas_pendapatantahunan  = Q3 + 1.5 * IQR
batas_bawah_pendapatantahunan = Q1 - 1.5 * IQR

print("--- Batas Outlier untuk Kolom 'pendapatan_tahunan' ---")
print(f"Batas Bawah: {batas_bawah_pendapatantahunan}")
print(f"Batas Atas: {batas_atas_pendapatantahunan}")

print("======================================")
df_challenge[(df_challenge['pendapatan_tahunan'] < batas_bawah_pendapatantahunan) | (df_challenge['pendapatan_tahunan'] > batas_atas_pendapatantahunan)]

--- Batas Outlier untuk Kolom 'pendapatan_tahunan' ---
Batas Bawah: -22500000.0
Batas Atas: 217500000.0
======================================

,id_pelanggan,pendapatan_tahunan,usia,jumlah_anak,status_rumah,tingkat_kepuasan,tanggal_daftar
11,12,1000000000,40,5,Milik Sendiri,Baik,2021-01-01

In [ ]:
#Deteksi outlier pada kolom usia
Q1          = df_challenge ['usia'].quantile(0.25)
Q3          = df_challenge ['usia'].quantile(0.75)
IQR         = Q3 - Q1
batas_atas_usia  = Q3 + 1.5 * IQR
batas_bawah_usia = Q1 - 1.5 * IQR

print("--- Batas Outlier untuk Kolom 'usia' ---")
print(f"Batas Bawah: {batas_bawah_usia}")
print(f"Batas Atas: {batas_atas_usia}")

print("======================================")
df_challenge[(df_challenge['usia'] < batas_bawah_usia) | (df_challenge['usia'] > batas_atas_usia)]

--- Batas Outlier untuk Kolom 'usia' ---
Batas Bawah: 8.125
Batas Atas: 77.125
======================================

,id_pelanggan,pendapatan_tahunan,usia,jumlah_anak,status_rumah,tingkat_kepuasan,tanggal_daftar
9,10,45000000,95,1,Milik Sendiri,Sangat Baik,2019-02-18

In [ ]:
# Tangani outlier dengan metode capping

# Capping outlier pada kolom 'pendapatan_tahunan'
df_challenge['Pendapatan_tahunan_capping'] = df_challenge['pendapatan_tahunan'].clip(
   lower = batas_bawah_pendapatantahunan,
   upper = batas_atas_pendapatantahunan
)

# Capping outlier pada kolom 'usia'
df_challenge['usia_capping'] = df_challenge['usia'].clip(
   lower = batas_bawah_usia,
   upper = batas_atas_usia
)

df_challenge

,id_pelanggan,pendapatan_tahunan,usia,jumlah_anak,status_rumah,tingkat_kepuasan,tanggal_daftar,Pendapatan_tahunan_capping,usia_capping
0,1,50000000,35,2,Sewa,Rendah,2018-05-10,50000000,35.000
1,2,75000000,42,1,Milik Sendiri,Sedang,2020-03-20,75000000,42.000
2,3,60000000,28,0,Milik Sendiri,Baik,2023-01-15,60000000,28.000
3,4,150000000,55,3,Sewa,Sangat Baik,2015-09-01,150000000,55.000
4,5,80000000,60,2,Milik Sendiri,Baik,2019-11-25,80000000,60.000
5,6,95000000,31,1,Sewa,Sedang,2021-08-01,95000000,31.000
6,7,200000000,48,4,Milik Sendiri,Sangat Baik,2016-04-12,200000000,48.000
7,8,70000000,25,0,Sewa,Rendah,2022-10-05,70000000,25.000
8,9,100000000,39,2,Milik Sendiri,Baik,2017-07-30,100000000,39.000
9,10,45000000,95,1,Milik Sendiri,Sangat Baik,2019-02-18,45000000,77.125
10,11,120000000,50,3,Sewa,Sedang,2018-12-01,120000000,50.000
11,12,1000000000,40,5,Milik Sendiri,Baik,2021-01-01,217500000,40.000

#3. Feature Engineering

In [ ]:
# Buat fitur baru bernama lama_pelanggan_tahun dari kolom tanggal_daftar.
from datetime import date

today = pd.Timestamp(date.today())
df_challenge['lama_pelanggan_tahun'] = (today - df_challenge['tanggal_daftar']).dt.days / 365.25

df_challenge

,id_pelanggan,pendapatan_tahunan,usia,jumlah_anak,status_rumah,tingkat_kepuasan,tanggal_daftar,Pendapatan_tahunan_capping,usia_capping,pendapatan_tahunan_x_usia,lama_pelanggan_tahun
0,1,50000000,35,2,Sewa,Rendah,2018-05-10,50000000,35.000,1.750000e+09,7.386721
1,2,75000000,42,1,Milik Sendiri,Sedang,2020-03-20,75000000,42.000,3.150000e+09,5.524983
2,3,60000000,28,0,Milik Sendiri,Baik,2023-01-15,60000000,28.000,1.680000e+09,2.702259
3,4,150000000,55,3,Sewa,Sangat Baik,2015-09-01,150000000,55.000,8.250000e+09,10.075291
4,5,80000000,60,2,Milik Sendiri,Baik,2019-11-25,80000000,60.000,4.800000e+09,5.842574
5,6,95000000,31,1,Sewa,Sedang,2021-08-01,95000000,31.000,2.945000e+09,4.158795
6,7,200000000,48,4,Milik Sendiri,Sangat Baik,2016-04-12,200000000,48.000,9.600000e+09,9.462012
7,8,70000000,25,0,Sewa,Rendah,2022-10-05,70000000,25.000,1.750000e+09,2.981520
8,9,100000000,39,2,Milik Sendiri,Baik,2017-07-30,100000000,39.000,3.900000e+09,8.164271
9,10,45000000,95,1,Milik Sendiri,Sangat Baik,2019-02-18,45000000,77.125,3.470625e+09,6.609172
10,11,120000000,50,3,Sewa,Sedang,2018-12-01,120000000,50.000,6.000000e+09,6.825462
11,12,1000000000,40,5,Milik Sendiri,Baik,2021-01-01,217500000,40.000,8.700000e+09,4.739220

In [ ]:
# Buat fitur interaksi pendapatan_x_usia dari kolom yang sudah di-capping.
df_challenge ['pendapatan_tahunan_x_usia'] = df_challenge['Pendapatan_tahunan_capping'] * df_challenge['usia_capping']

df_challenge

,id_pelanggan,pendapatan_tahunan,usia,jumlah_anak,status_rumah,tingkat_kepuasan,tanggal_daftar,Pendapatan_tahunan_capping,usia_capping,pendapatan_tahunan_x_usia,lama_pelanggan_tahun
0,1,50000000,35,2,Sewa,Rendah,2018-05-10,50000000,35.000,1.750000e+09,7.386721
1,2,75000000,42,1,Milik Sendiri,Sedang,2020-03-20,75000000,42.000,3.150000e+09,5.524983
2,3,60000000,28,0,Milik Sendiri,Baik,2023-01-15,60000000,28.000,1.680000e+09,2.702259
3,4,150000000,55,3,Sewa,Sangat Baik,2015-09-01,150000000,55.000,8.250000e+09,10.075291
4,5,80000000,60,2,Milik Sendiri,Baik,2019-11-25,80000000,60.000,4.800000e+09,5.842574
5,6,95000000,31,1,Sewa,Sedang,2021-08-01,95000000,31.000,2.945000e+09,4.158795
6,7,200000000,48,4,Milik Sendiri,Sangat Baik,2016-04-12,200000000,48.000,9.600000e+09,9.462012
7,8,70000000,25,0,Sewa,Rendah,2022-10-05,70000000,25.000,1.750000e+09,2.981520
8,9,100000000,39,2,Milik Sendiri,Baik,2017-07-30,100000000,39.000,3.900000e+09,8.164271
9,10,45000000,95,1,Milik Sendiri,Sangat Baik,2019-02-18,45000000,77.125,3.470625e+09,6.609172
10,11,120000000,50,3,Sewa,Sedang,2018-12-01,120000000,50.000,6.000000e+09,6.825462
11,12,1000000000,40,5,Milik Sendiri,Baik,2021-01-01,217500000,40.000,8.700000e+09,4.739220

# 4. Categorical Encoding

In [ ]:
#Terapkan One-Hot Encoding pada kolom status_rumah.
df_challenge = pd.get_dummies(df_challenge, columns=['status_rumah'], prefix='status_rumah')
df_challenge

In [ ]:
#Terapkan Ordinal Encoding pada kolom tingkat_kepuasan dengan urutan yang logis.
tingkat_kepuasan_mapping = {
    'Sangat Baik': 4,
    'Baik': 3,
    'Sedang' :2,
    'Rendah': 1
}

df_challenge['tingkat_kepuasan_encoded'] = df_challenge['tingkat_kepuasan'].map(tingkat_kepuasan_mapping)
df_challenge

,id_pelanggan,pendapatan_tahunan,usia,jumlah_anak,tingkat_kepuasan,tanggal_daftar,Pendapatan_tahunan_capping,usia_capping,pendapatan_tahunan_x_usia,lama_pelanggan_tahun,status_rumah_Milik Sendiri,status_rumah_Sewa,tingkat_kepuasan_encoded
0,1,50000000,35,2,Rendah,2018-05-10,50000000,35.000,1.750000e+09,7.386721,False,True,1
1,2,75000000,42,1,Sedang,2020-03-20,75000000,42.000,3.150000e+09,5.524983,True,False,2
2,3,60000000,28,0,Baik,2023-01-15,60000000,28.000,1.680000e+09,2.702259,True,False,3
3,4,150000000,55,3,Sangat Baik,2015-09-01,150000000,55.000,8.250000e+09,10.075291,False,True,4
4,5,80000000,60,2,Baik,2019-11-25,80000000,60.000,4.800000e+09,5.842574,True,False,3
5,6,95000000,31,1,Sedang,2021-08-01,95000000,31.000,2.945000e+09,4.158795,False,True,2
6,7,200000000,48,4,Sangat Baik,2016-04-12,200000000,48.000,9.600000e+09,9.462012,True,False,4
7,8,70000000,25,0,Rendah,2022-10-05,70000000,25.000,1.750000e+09,2.981520,False,True,1
8,9,100000000,39,2,Baik,2017-07-30,100000000,39.000,3.900000e+09,8.164271,True,False,3
9,10,45000000,95,1,Sangat Baik,2019-02-18,45000000,77.125,3.470625e+09,6.609172,True,False,4
10,11,120000000,50,3,Sedang,2018-12-01,120000000,50.000,6.000000e+09,6.825462,False,True,2
11,12,1000000000,40,5,Baik,2021-01-01,217500000,40.000,8.700000e+09,4.739220,True,False,3

# 5. Data Scaling

In [ ]:
#Terapkan Normalisasi (Min-Max Scaling) pada fitur pendapatan_tahunan yang sudah di-capping.
min_pendapatan = df_challenge['Pendapatan_tahunan_capping'].min()
max_pendapatan = df_challenge['Pendapatan_tahunan_capping'].max()

df_challenge['Pendapatan_tahunan_scaled'] = (df_challenge['Pendapatan_tahunan_capping'] - min_pendapatan) / (max_pendapatan - min_pendapatan)
df_challenge

,id_pelanggan,pendapatan_tahunan,usia,jumlah_anak,tingkat_kepuasan,tanggal_daftar,Pendapatan_tahunan_capping,usia_capping,pendapatan_tahunan_x_usia,lama_pelanggan_tahun,status_rumah_Milik Sendiri,status_rumah_Sewa,tingkat_kepuasan_encoded,Pendapatan_tahunan_scaled
0,1,50000000,35,2,Rendah,2018-05-10,50000000,35.000,1.750000e+09,7.386721,False,True,1,0.028986
1,2,75000000,42,1,Sedang,2020-03-20,75000000,42.000,3.150000e+09,5.524983,True,False,2,0.173913
2,3,60000000,28,0,Baik,2023-01-15,60000000,28.000,1.680000e+09,2.702259,True,False,3,0.086957
3,4,150000000,55,3,Sangat Baik,2015-09-01,150000000,55.000,8.250000e+09,10.075291,False,True,4,0.608696
4,5,80000000,60,2,Baik,2019-11-25,80000000,60.000,4.800000e+09,5.842574,True,False,3,0.202899
5,6,95000000,31,1,Sedang,2021-08-01,95000000,31.000,2.945000e+09,4.158795,False,True,2,0.289855
6,7,200000000,48,4,Sangat Baik,2016-04-12,200000000,48.000,9.600000e+09,9.462012,True,False,4,0.898551
7,8,70000000,25,0,Rendah,2022-10-05,70000000,25.000,1.750000e+09,2.981520,False,True,1,0.144928
8,9,100000000,39,2,Baik,2017-07-30,100000000,39.000,3.900000e+09,8.164271,True,False,3,0.318841
9,10,45000000,95,1,Sangat Baik,2019-02-18,45000000,77.125,3.470625e+09,6.609172,True,False,4,0.000000
10,11,120000000,50,3,Sedang,2018-12-01,120000000,50.000,6.000000e+09,6.825462,False,True,2,0.434783
11,12,1000000000,40,5,Baik,2021-01-01,217500000,40.000,8.700000e+09,4.739220,True,False,3,1.000000

In [ ]:
#Terapkan Standardisasi (StandardScaler) pada fitur usia yang sudah di-capping.
mean_usia = df_challenge['usia_capping'].mean()
std_usia = df_challenge['usia_capping'].std()
df_challenge['usia_scaled'] = (df_challenge['usia_capping'] - mean_usia) / std_usia

df_challenge

,id_pelanggan,pendapatan_tahunan,usia,jumlah_anak,tingkat_kepuasan,tanggal_daftar,Pendapatan_tahunan_capping,usia_capping,pendapatan_tahunan_x_usia,lama_pelanggan_tahun,status_rumah_Milik Sendiri,status_rumah_Sewa,tingkat_kepuasan_encoded,Pendapatan_tahunan_scaled,usia_scaled
0,1,50000000,35,2,Rendah,2018-05-10,50000000,35.000,1.750000e+09,7.386721,False,True,1,0.028986,-0.616445
1,2,75000000,42,1,Sedang,2020-03-20,75000000,42.000,3.150000e+09,5.524983,True,False,2,0.173913,-0.146239
2,3,60000000,28,0,Baik,2023-01-15,60000000,28.000,1.680000e+09,2.702259,True,False,3,0.086957,-1.086650
3,4,150000000,55,3,Sangat Baik,2015-09-01,150000000,55.000,8.250000e+09,10.075291,False,True,4,0.608696,0.726999
4,5,80000000,60,2,Baik,2019-11-25,80000000,60.000,4.800000e+09,5.842574,True,False,3,0.202899,1.062860
5,6,95000000,31,1,Sedang,2021-08-01,95000000,31.000,2.945000e+09,4.158795,False,True,2,0.289855,-0.885133
6,7,200000000,48,4,Sangat Baik,2016-04-12,200000000,48.000,9.600000e+09,9.462012,True,False,4,0.898551,0.256794
7,8,70000000,25,0,Rendah,2022-10-05,70000000,25.000,1.750000e+09,2.981520,False,True,1,0.144928,-1.288166
8,9,100000000,39,2,Baik,2017-07-30,100000000,39.000,3.900000e+09,8.164271,True,False,3,0.318841,-0.347756
9,10,45000000,95,1,Sangat Baik,2019-02-18,45000000,77.125,3.470625e+09,6.609172,True,False,4,0.000000,2.213183
10,11,120000000,50,3,Sedang,2018-12-01,120000000,50.000,6.000000e+09,6.825462,False,True,2,0.434783,0.391138
11,12,1000000000,40,5,Baik,2021-01-01,217500000,40.000,8.700000e+09,4.739220,True,False,3,1.000000,-0.280584