<a href="https://colab.research.google.com/github/enjileona/Bootcamp-Data-Science-and-Mechine-Learning/blob/main/Exercise_Data_Manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# EXERCISE DATA MANIPULATION

##TASK
**1.   Manipulasi Data Waktu (Datetime)**
*   Konversi kolom tanggal_aplikasi dan tanggal_pembayaran menjadi tipe data datetime.
*   Buat kolom baru bernama durasi_pinjaman_hari yang menghitung selisih antara tanggal_pembayaran dan tanggal_aplikasi dalam satuan hari.


**2.   Manipulasi Data Teks**
* Menghilangkan spasi ekstra di awal dan akhir string (.str.strip())
* Mengubah semua huruf menjadi huruf kecil (.str.lower()) untuk menstandarisasi data

**3.  Penanganan Missing Value**
* Temukan missing value di kolom jumlah_pembayaran
* Isi missing value tersebut dengan nilai median dari kolom jumlah_pembayaran yang sudah ada

**4. Analisis dan Agregasi**
* Gunakan .groupby() untuk menghitung rata-rata durasi_pinjaman_hari dan total jumlah_pembayaran untuk setiap status_pinjaman
* Sajikan hasil dalam format tabel yang mudah dibaca

**Data Frame**

In [2]:
import pandas as pd
import numpy as np

# Data Aplikasi Pinjaman
data_aplikasi = {
    'id_pinjaman': [101, 102, 103, 104, 105],
    'id_pelanggan': [1, 2, 3, 4, 5],
    'tanggal_aplikasi': ['2023-01-10', '2023-01-25', '2023-02-05', '2023-02-15', '2023-03-01'],
    'status_pinjaman': ['  lunas', 'Gagal Bayar', 'Lunas', '  lunas', 'Gagal Bayar ']
}
df_aplikasi = pd.DataFrame(data_aplikasi)

df_aplikasi

   id_pinjaman  id_pelanggan tanggal_aplikasi status_pinjaman
0          101             1       2023-01-10           lunas
1          102             2       2023-01-25     Gagal Bayar
2          103             3       2023-02-05           Lunas
3          104             4       2023-02-15           lunas
4          105             5       2023-03-01    Gagal Bayar

In [3]:
# Data Pelanggan
data_pelanggan = {
    'id_pelanggan': [1, 2, 3, 4, 5],
    'nama': ['Budi', ' anita', 'Charlie', 'David', 'Erika'],
    'kota_asal': ['jakarta', ' Bandung ', 'surabaya ', 'jakarta', 'medan']
}
df_pelanggan = pd.DataFrame(data_pelanggan)

df_pelanggan

   id_pelanggan     nama  kota_asal
0             1     Budi    jakarta
1             2    anita   Bandung
2             3  Charlie  surabaya
3             4    David    jakarta
4             5    Erika      medan

In [4]:
# Data Histori Pembayaran (terdapat missing value)
data_pembayaran = {
    'id_pinjaman': [101, 102, 103, 104, 105],
    'tanggal_pembayaran': ['2023-03-10', '2023-03-20', '2023-03-05', '2023-04-10', '2023-05-01'],
    'jumlah_pembayaran': [15000000, 1000000, 7500000, np.nan, 2000000]
}
df_pembayaran = pd.DataFrame(data_pembayaran)

df_pembayaran

   id_pinjaman tanggal_pembayaran  jumlah_pembayaran
0          101         2023-03-10         15000000.0
1          102         2023-03-20          1000000.0
2          103         2023-03-05          7500000.0
3          104         2023-04-10                NaN
4          105         2023-05-01          2000000.0

#**1. Manipulasi Data Waktu (Datetime)**

##a. Konversi kolom tanggal_aplikasi dan tanggal_pembayaran menjadi tipe data datetime.

In [5]:
# Konversi kolom 'tanggal_aplikasi'
df_aplikasi['tanggal_aplikasi_terformat'] = pd.to_datetime(df_aplikasi['tanggal_aplikasi'])
df_aplikasi

,id_pinjaman,id_pelanggan,tanggal_aplikasi,status_pinjaman,tanggal_aplikasi_terformat
0,101,1,2023-01-10,lunas,2023-01-10
1,102,2,2023-01-25,Gagal Bayar,2023-01-25
2,103,3,2023-02-05,Lunas,2023-02-05
3,104,4,2023-02-15,lunas,2023-02-15
4,105,5,2023-03-01,Gagal Bayar,2023-03-01

In [6]:
#Konversi kolom 'tanggal_pembayaran'
df_pembayaran['tanggal_pembayaran_terformat'] = pd.to_datetime(df_pembayaran['tanggal_pembayaran'])
df_pembayaran

,id_pinjaman,tanggal_pembayaran,jumlah_pembayaran,tanggal_pembayaran_terformat
0,101,2023-03-10,15000000.0,2023-03-10
1,102,2023-03-20,1000000.0,2023-03-20
2,103,2023-03-05,7500000.0,2023-03-05
3,104,2023-04-10,NaN,2023-04-10
4,105,2023-05-01,2000000.0,2023-05-01

## b. Buat kolom baru bernama durasi_pinjaman_hari yang menghitung selisih antara tanggal_pembayaran dan tanggal_aplikasi dalam satuan hari.

In [7]:
#Membuat kolom durasi_pinjaman_hari
df_Aplikasi_Pembayaran = pd.merge(df_aplikasi, df_pembayaran, on='id_pinjaman', how='outer')
df_Aplikasi_Pembayaran

,id_pinjaman,id_pelanggan,tanggal_aplikasi,status_pinjaman,tanggal_aplikasi_terformat,tanggal_pembayaran,jumlah_pembayaran,tanggal_pembayaran_terformat
0,101,1,2023-01-10,lunas,2023-01-10,2023-03-10,15000000.0,2023-03-10
1,102,2,2023-01-25,Gagal Bayar,2023-01-25,2023-03-20,1000000.0,2023-03-20
2,103,3,2023-02-05,Lunas,2023-02-05,2023-03-05,7500000.0,2023-03-05
3,104,4,2023-02-15,lunas,2023-02-15,2023-04-10,NaN,2023-04-10
4,105,5,2023-03-01,Gagal Bayar,2023-03-01,2023-05-01,2000000.0,2023-05-01

In [8]:
# Perhitungan durasi

# Kolom baru durasi_pinjaman_hari
df_Aplikasi_Pembayaran['durasi_pinjaman_hari'] = (
    df_Aplikasi_Pembayaran['tanggal_pembayaran_terformat'] - df_Aplikasi_Pembayaran['tanggal_aplikasi_terformat']
).dt.days

df_Aplikasi_Pembayaran

,id_pinjaman,id_pelanggan,tanggal_aplikasi,status_pinjaman,tanggal_aplikasi_terformat,tanggal_pembayaran,jumlah_pembayaran,tanggal_pembayaran_terformat,durasi_pinjaman_hari
0,101,1,2023-01-10,lunas,2023-01-10,2023-03-10,15000000.0,2023-03-10,59
1,102,2,2023-01-25,Gagal Bayar,2023-01-25,2023-03-20,1000000.0,2023-03-20,54
2,103,3,2023-02-05,Lunas,2023-02-05,2023-03-05,7500000.0,2023-03-05,28
3,104,4,2023-02-15,lunas,2023-02-15,2023-04-10,NaN,2023-04-10,54
4,105,5,2023-03-01,Gagal Bayar,2023-03-01,2023-05-01,2000000.0,2023-05-01,61

# **2.Manipulasi Data Teks**

Bersihkan kolom status_pinjaman dan kota_asal dengan

## a. Menghilangkan spasi ekstra di awal dan akhir string (.str.strip())

In [9]:
#Gabungkan Tabel data aplikasi, data pelanggan, dan data pembayaran
df_Aplikasi_Pembayaran_Pelanggan = pd.merge(df_Aplikasi_Pembayaran, df_pelanggan, on='id_pelanggan', how='outer')
df_Aplikasi_Pembayaran_Pelanggan

#Menghilangkan spasi ekstra di awal dan akhir string
df_Aplikasi_Pembayaran_Pelanggan['status_pinjaman_strip'] = df_Aplikasi_Pembayaran_Pelanggan['status_pinjaman'].str.strip()
df_Aplikasi_Pembayaran_Pelanggan['kota_asal_strip'] = df_Aplikasi_Pembayaran_Pelanggan['kota_asal'].str.strip()

df_Aplikasi_Pembayaran_Pelanggan

,id_pinjaman,id_pelanggan,tanggal_aplikasi,status_pinjaman,tanggal_aplikasi_terformat,tanggal_pembayaran,jumlah_pembayaran,tanggal_pembayaran_terformat,durasi_pinjaman_hari,nama,kota_asal,status_pinjaman_strip,kota_asal_strip
0,101,1,2023-01-10,lunas,2023-01-10,2023-03-10,15000000.0,2023-03-10,59,Budi,jakarta,lunas,jakarta
1,102,2,2023-01-25,Gagal Bayar,2023-01-25,2023-03-20,1000000.0,2023-03-20,54,anita,Bandung,Gagal Bayar,Bandung
2,103,3,2023-02-05,Lunas,2023-02-05,2023-03-05,7500000.0,2023-03-05,28,Charlie,surabaya,Lunas,surabaya
3,104,4,2023-02-15,lunas,2023-02-15,2023-04-10,NaN,2023-04-10,54,David,jakarta,lunas,jakarta
4,105,5,2023-03-01,Gagal Bayar,2023-03-01,2023-05-01,2000000.0,2023-05-01,61,Erika,medan,Gagal Bayar,medan

## b. Mengubah semua huruf menjadi huruf kecil (.str.lower()) untuk menstandarisasi data.

In [10]:
#Mengubah semua huruf menjadi huruf kecil
df_Aplikasi_Pembayaran_Pelanggan['status_pinjaman_lower'] = df_Aplikasi_Pembayaran_Pelanggan['status_pinjaman_strip'].str.lower()
df_Aplikasi_Pembayaran_Pelanggan['kota_asal_lower'] = df_Aplikasi_Pembayaran_Pelanggan['kota_asal_strip'].str.lower()

df_Aplikasi_Pembayaran_Pelanggan

,id_pinjaman,id_pelanggan,tanggal_aplikasi,status_pinjaman,tanggal_aplikasi_terformat,tanggal_pembayaran,jumlah_pembayaran,tanggal_pembayaran_terformat,durasi_pinjaman_hari,nama,kota_asal,status_pinjaman_strip,kota_asal_strip,status_pinjaman_lower,kota_asal_lower
0,101,1,2023-01-10,lunas,2023-01-10,2023-03-10,15000000.0,2023-03-10,59,Budi,jakarta,lunas,jakarta,lunas,jakarta
1,102,2,2023-01-25,Gagal Bayar,2023-01-25,2023-03-20,1000000.0,2023-03-20,54,anita,Bandung,Gagal Bayar,Bandung,gagal bayar,bandung
2,103,3,2023-02-05,Lunas,2023-02-05,2023-03-05,7500000.0,2023-03-05,28,Charlie,surabaya,Lunas,surabaya,lunas,surabaya
3,104,4,2023-02-15,lunas,2023-02-15,2023-04-10,NaN,2023-04-10,54,David,jakarta,lunas,jakarta,lunas,jakarta
4,105,5,2023-03-01,Gagal Bayar,2023-03-01,2023-05-01,2000000.0,2023-05-01,61,Erika,medan,Gagal Bayar,medan,gagal bayar,medan

# **3. Penanganan Missing Value**

##a. Temukan missing value di kolom jumlah_pembayaran.

In [11]:
#Menghitung jumlah null

df_Aplikasi_Pembayaran_Pelanggan['jumlah_pembayaran'].isnull().sum()

np.int64(1)

##b. Isi missing value tersebut dengan nilai median dari kolom jumlah_pembayaran yang sudah ada.

In [12]:
#Menghisi missing value dengan median

df_Aplikasi_Pembayaran_Pelanggan['jumlah_pembayaran'] = df_Aplikasi_Pembayaran_Pelanggan['jumlah_pembayaran'].fillna(
    df_Aplikasi_Pembayaran_Pelanggan['jumlah_pembayaran'].median())

df_Aplikasi_Pembayaran_Pelanggan

,id_pinjaman,id_pelanggan,tanggal_aplikasi,status_pinjaman,tanggal_aplikasi_terformat,tanggal_pembayaran,jumlah_pembayaran,tanggal_pembayaran_terformat,durasi_pinjaman_hari,nama,kota_asal,status_pinjaman_strip,kota_asal_strip,status_pinjaman_lower,kota_asal_lower
0,101,1,2023-01-10,lunas,2023-01-10,2023-03-10,15000000.0,2023-03-10,59,Budi,jakarta,lunas,jakarta,lunas,jakarta
1,102,2,2023-01-25,Gagal Bayar,2023-01-25,2023-03-20,1000000.0,2023-03-20,54,anita,Bandung,Gagal Bayar,Bandung,gagal bayar,bandung
2,103,3,2023-02-05,Lunas,2023-02-05,2023-03-05,7500000.0,2023-03-05,28,Charlie,surabaya,Lunas,surabaya,lunas,surabaya
3,104,4,2023-02-15,lunas,2023-02-15,2023-04-10,4750000.0,2023-04-10,54,David,jakarta,lunas,jakarta,lunas,jakarta
4,105,5,2023-03-01,Gagal Bayar,2023-03-01,2023-05-01,2000000.0,2023-05-01,61,Erika,medan,Gagal Bayar,medan,gagal bayar,medan

# **4. Analisis dan Agregasi**

# a. Gunakan .groupby() untuk menghitung rata-rata durasi_pinjaman_hari dan total jumlah_pembayaran untuk setiap status_pinjaman.

In [13]:
#Menghitung rata-rata durasi_pinjaman_hari
rata_rata_per_status = (
    df_Aplikasi_Pembayaran_Pelanggan.groupby('status_pinjaman_lower')['durasi_pinjaman_hari']
    .mean()
    .reset_index(name='rata_rata_durasi_pinjaman_hari')
)

print("\nRata-rata durasi pinjaman per status pinjaman:")
print(rata_rata_per_status)

print('-'*50)

#Menghitung total jumlah_pembayaran untuk setiap status pinjaman
total_pembayaran_per_status = (
    df_Aplikasi_Pembayaran_Pelanggan.groupby('status_pinjaman_lower')['jumlah_pembayaran']
    .sum()
    .reset_index(name='total_jumlah_pembayaran')
)

print("\nTotal Jumlah Pembayaran per status pinjaman:")
print(total_pembayaran_per_status)

Rata-rata durasi pinjaman per status pinjaman:
  status_pinjaman_lower  rata_rata_durasi_pinjaman_hari
0           gagal bayar                            57.5
1                 lunas                            47.0
--------------------------------------------------

Total Jumlah Pembayaran per status pinjaman:
  status_pinjaman_lower  total_jumlah_pembayaran
0           gagal bayar                3000000.0
1                 lunas               27250000.0

## b. Sajikan hasil dalam format tabel yang mudah dibaca.

In [14]:
# Gabungkan tabel
tabel_ringkasan = pd.merge(rata_rata_per_status, total_pembayaran_per_status, on='status_pinjaman_lower')

print("\nRingkasan Rata-rata Durasi & Total Pembayaran per Status Pinjaman:")
print(tabel_ringkasan.to_string(index=False))

Ringkasan Rata-rata Durasi & Total Pembayaran per Status Pinjaman:
status_pinjaman_lower  rata_rata_durasi_pinjaman_hari  total_jumlah_pembayaran
          gagal bayar                            57.5                3000000.0
                lunas                            47.0               27250000.0